@tailwind base;
@tailwind components;
@tailwind utilities;
.center {
@apply align-middle justify-center items-center content-center;
}
.justified {
@apply justify-center;
}
.aligned {
@apply align-middle items-center content-center;
}

@font-face {
    font-family: CormorantLight;
    src: url(../public/fonts/Cormorant-Light.ttf);
}
@font-face {
    font-family: Cormorant;
    src: url(../public/fonts/Cormorant-Regular.ttf);
}
@font-face {
    font-family: CormorantDemi;
    src: url(../public/fonts/Cormorant-Medium.ttf);
}
@font-face {
    font-family: CormorantBold;
    src: url(../public/fonts/Cormorant-Bold.ttf);
}



